/* 
===============================================================================================
REGISTER PAGE STYLES
===============================================================================================
*/

.register-page-wrapper {
    width: 75%;
    border: 2px dashed black;
    border-radius: 25px;
    padding: 4.375rem 0;
    margin: 5rem auto 5rem auto;
}

.register-form-container h2 {
    text-align: center;
    font-size: 1.7rem;
}

.register-form-container p {
    text-align: center;
    margin-top: 1.5rem;
}

.form-footer-actions {
    margin: 1.875rem 0 2.8125rem 0;
    font-size: 1rem;
}

.form-redirect,
.form-legal {
    margin: 0.625rem 0;
}

.register-form-container a {
    font-weight: bold;
}

.register-form-container a:hover {
    text-decoration: underline;
    color: var(--link-hover);
}

.register-final span {
    color: var(--bg-gradient-red);
}

.register-final p {
    text-align: center;
    margin-top: 1rem;
}