/* 
======================================================
SECTIONS: BOOK LIST
======================================================
*/

/* Secciones de libros fuera del book-explorer */
.book-list {
    width: 95%;
    margin: 0 auto 3rem auto;
    background-color: var(--bg-section-transparent);
    border: 2px dashed var(--border-color);
    padding: 1rem;
    border-radius: 8px;
}