/* 
========================================
HEADER LAYOUT
========================================
*/

/* HEADER TOP */

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 3.125rem;
    background-color: var(--text-strong);
}

/* LOGO */

.logo a {
    display: flex;
    align-items: center;
    color: var(--color-surface-medium);
}

/* ICONO LOGO */

.logo img {
    width: 3.75rem;
}

/* TEXTO LOGO */

.logo-content {
    margin-left: 1rem;
}

.logo-content h1, 
.logo-content p 
{
    font-size: 1.1rem;
}

/* ACCIONES */

.actions {
    display: flex;
    align-items: center;
}

/* DROPDOWN */

.dropdown-menu {
    display: none;
}
